html { height: 100% }
body { height: 100%; margin: 5px; padding: 0 }
button {}
#map_canvas { height: 100%; width:78%; float:left}
#right_tree { height: 100%; width:22%; float:right;}
#map_canvas img { max-width:none; }
#header {width:100%}
.navbar {margin-bottom: 0px}

/** File upload **/
#uploadField {
  visibility:hidden; 
  position:absolute;
}
.alert-bottom {position:absolute; bottom:0; right:23%; max-width:200px}
.container {position:absolute; z-index:1; width: 278px; margin-top:5px;margin-left:80px; background-color: #444444;}
.ui-dialog {
  background-color: #fff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.context_menu {
  display:none; 
  position:absolute;
  background-color: #fff;
  min-width: 160px;
  max-width: 220px;
  _width: 160px;
  padding: 4px 0;
  margin: 0;
  list-style: none;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}
.context_menu_item {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555555;
  white-space: nowrap;
  cursor:pointer; 
}
.context_menu_separator {
  height: 1px;
  margin: 5px 1px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
  *width: 100%;
  *margin: -5px 0 5px;
}
.context_menu_item:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
}
hr {
  margin:0;
  padding:0 0 2px 0;
}

#lh{position:fixed; left:20px; bottom:25px; z-index: 2}
#mh{position:fixed; left:75px; bottom:25px; z-index: 2}
.bottom-up{bottom:100%; max-width:80px}
/* submenu */
.dropdown-menu a 
{
  text-align:left;
}
.submenu-show
{
    border-radius: 3px;
    display: block;
    left: 100%;
    top: -400%;
    margin-top: -25px !important;
    moz-border-radius: 3px;
    position: absolute;
    webkit-border-radius: 3px;
}
.submenu-hide
{
    display: none !important;
    float: right;
    position: relative;
    top: auto;
}

/**** TreeView *****/
#right_tree ol.tree
{
  padding: 0 0 0 30px;
  width: 300px;
}

#right_tree > label
{
  margin:10px 8px;
  font-weight: bold;
  font-size: 18px;
}

#tree li
{ 
  position: relative; 
  margin-left: -15px;
  list-style: none;
}

#tree li.file
{
  margin-left: -1px !important;
}

#tree li.file a
{
  background: url(../../libs/data/img/document.png) 0 0 no-repeat;
  color: #000;
  padding-left: 21px;
  text-decoration: none;
  display: block;
}

#tree li.highlight a
{
  background-color: #ccc;
  color: red;
}

#tree li input
{
  position: absolute;
  left: 0;
  margin-left: 0;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
  height: 1em;
  width: 1em;
  top: 0;
}

#tree li input + ol
{
  background: url(../../libs/data/img/toggle-small-expand.png) 40px 0 no-repeat;
  margin: -1.6em 0 0 -44px; /* 15px */
  height: 1em;
}

#tree li input:checked + ol
{
  background: url(../../libs/data/img/toggle-small.png) 40px 5px no-repeat;
  margin: -1.9em 0 0 -44px; /* 20px */
  padding: 1.563em 0 0 80px;
  height: auto;
}

#tree li input + ol > li { display: none; margin-left: -14px !important; padding-left: 1px; }

#tree li label
{
  background: url(../../libs/data/img/folder-horizontal.png) 15px 1px no-repeat;
  cursor: pointer;
  display: block;
  padding-left: 37px;
}

#tree li input:checked + ol > li { display: block; margin: 0 0 0.125em;  /* 2px */}
#tree li input:checked + ol > li:last-child { margin: 0 0 0.063em; /* 1px */ }

